---

- name: Install Drupal.
  shell:
    cmd: "{{ drush_bin }} -y si"
    chdir: "{{ deploy_path }}/{{ webroot }}/sites/{{ site.folder }}"
  become: "{{ 'no' if www_user == deploy_user else 'yes' }}"
  become_user: "{{ www_user }}"
  with_items: "{{ drupal.sites }}"
  loop_control:
    loop_var: site
  when: previous_build_number == 0 or (site.force_install is defined and site.force_install)

- name: Apply Drupal database updates.
  shell:
    cmd: "{{ drush_bin }} -y updb"
    chdir: "{{ deploy_path }}/{{ webroot }}/sites/{{ site.folder }}"
  with_items: "{{ drupal.sites }}"
  loop_control:
    loop_var: site

- name: Revert Drupal configuration with Features.
  include_tasks: features.yml
  with_items: "{{ drupal.sites }}"
  loop_control:
    loop_var: site

- name: Revert Drupal configuration with Ctools.
  include_tasks: ctools.yml
  with_items: "{{ drupal.sites }}"
  loop_control:
    loop_var: site