---


# We assume it's safe to only go back 50 build back.
- name: Delete mysql databases.
  mysql_db:
    name: "{{ database.database }}_{{ item }}"
    state: absent
    login_host: "{{ _mysql_host }}"
    login_user: "{{ _mysql_user }}"
    login_password: "{{ _mysql_password }}"
  with_sequence: start={{ [previous_build_number | int - 50, 0] | max }} end={{ previous_build_number | int - mysql_backup.keep }}