---
- name: Grab mysql credentials.
  fetch:
    src: "{{ database.credentials_file }}"
    dest: "{{ _ce_deploy_build_dir }}/mysql_backup_credentials.ini"
    flat: true

# Credentials for "managing" databases.
- set_fact:
    _mysql_host: "{{ lookup('ini', 'host section=client file={{ _ce_deploy_build_dir }}/mysql_backup_credentials.ini') }}"
- set_fact:
    _mysql_user: "{{ lookup('ini', 'user section=client file={{ _ce_deploy_build_dir }}/mysql_backup_credentials.ini') }}"
- set_fact:
    _mysql_password: "{{ lookup('ini', 'password section=client file={{ _ce_deploy_build_dir }}/mysql_backup_credentials.ini') }}"
# Credentials for the app itself.
# Manual: reuse given creds. Note the user gets ignored.
- set_fact:
    _mysql_build_user_name: "{{ _mysql_user }}"
  when: mysql_backup.credentials_handling == 'manual'
- set_fact:
    _mysql_build_password: "{{ _mysql_password }}"
  when: mysql_backup.credentials_handling == 'manual'
# Static: create/update user/pwd only once.
- set_fact:
    _mysql_build_user_name: "{{ database.user }}"
  when: mysql_backup.credentials_handling == 'static'
- set_fact:
    _mysql_build_password: "{{ lookup('password', '{{ _ce_deploy_data_dir }}/{{ inventory_hostname }}/mysql/{{ _mysql_host }}/{{ database.database }}') }}"
  when: mysql_backup.credentials_handling == 'static'
# Rotate: create user/pwd on each build.
- set_fact:
    _mysql_build_user_name: "{{ database.user }}_{{ build_number }}"
  when: mysql_backup.credentials_handling == 'rotate'
- set_fact:
    _mysql_build_password: "{{ lookup('password', '/dev/shm/{{ project_name }}_{{ build_type }}_{{ build_number }}') }}"
  when: mysql_backup.credentials_handling == 'rotate'

- include_tasks: "deploy-{{ mysql_backup.handling }}.yml"

# We append privileges instead of replacing,
# to allow this role to be looped over,
# for multisites or projects with multiple databases.
# @see https://www.thesysadmin.rocks/2020/10/08/rds-mariadb-grant-all-permission-access-denied-for-user/ for why we cannot GRANT ALL.
- name: Create/update mysql user.
  command: mysql --defaults-extra-file={{ database.credentials_file }} -e "GRANT SELECT, INSERT, UPDATE, DELETE, CREATE, DROP, REFERENCES, INDEX, ALTER, CREATE TEMPORARY TABLES, LOCK TABLES, EXECUTE, CREATE VIEW, SHOW VIEW, CREATE ROUTINE, ALTER ROUTINE, EVENT, TRIGGER ON {{ _mysql_build_database_name }}.* TO '{{ _mysql_build_user_name}}'@'%' IDENTIFIED BY '{{ _mysql_build_password }}';"
  when: ( mysql_backup.credentials_handling == 'rotate' ) or ( mysql_backup.credentials_handling == 'static' )
  run_once: true

- set_fact:
    _build_database:
      original: "{{ database }}"
      name: "{{ _mysql_build_database_name }}"
      user: "{{ _mysql_build_user_name }}"
      password: "{{ _mysql_build_password }}"
      host: "{{ _mysql_host }}"

- set_fact:
    build_databases: "{{ build_databases + [ _build_database ] }}"
