---
- name: Sanitize database.
  command:
    cmd: "{{ drush_bin }} -y {{ site.sanitize_command }}"
    chdir: "{{ live_symlink_dest }}/{{ webroot }}/sites/{{ site.folder }}"
  become: "{{ 'no' if www_user == deploy_user else 'yes' }}"
  become_user: "{{ www_user }}"
  with_items: "{{ drupal.sites }}"
  loop_control:
    loop_var: site
  when: site.sanitize_command
  run_once: true
