---
- name: Define cron job command.
  set_fact:
    _cron_job_command: "cd {{ deploy_path }}/{{ webroot }}/sites/{{ site.folder }} && {{ deploy_path }}/{{ drupal.drush_location }} {{ entry.job }}"

- name: Define cron job command if deferred (ASG).
  set_fact:
    _cron_job_command: "cd {{ _ce_deploy_base_dir }} && {{ _ce_deploy_ansible_location }} {{ drupal.defer_target }} -m shell -a \"{{ _cron_job_command }}\""
  when:
    - drupal.defer is defined
    - drupal.defer
    - drupal.defer_target is defined
    - drupal.defer_target | length > 0

- name: Define cron job command for differing deploy users.
  set_fact:
    _cron_job_command: "{{ _cron_job_command }} --extra-vars '{\"become\":true,\"become_user\":\"{{ www_user }}\"}'"
  when:
    - www_user != deploy_user
    - drupal.defer is defined
    - drupal.defer

- name: Setup Drupal cron tasks on app server.
  cron:
    name: "{{ project_name }}_{{ site.folder }}_{{ build_type }}_{{ entry.job }}"
    minute: "{{ entry.minute }}"
    hour: "{{ entry.hour | default(omit) }}"
    job: "{{ _cron_job_command }}"
  delegate_to: "{{ 'localhost' if drupal.defer else inventory_hostname }}"
