ci:
  collect:
    url:
{% for url in lhci_run.test_urls %}
      - "{{ url }}"
{% endfor %}
    settings:
      chromeFlags:
{% for flag in lhci_run.chrome_flags %}
        - "{{ flag }}"
{% endfor %}
    numberOfRuns: {{ lhci_run.test_runs }}
    headful: true
  upload:
    outputDir: "{{ lhci_run.output_directory }}"
    target: "{{ lhci_run.upload_target_type }}"
