ci:
  collect:
    url:
{% for url in lhci_run.test_urls %}
      - "{{ url }}"
{% endfor %}
    settings:
      chromeFlags:
{% for flag in lhci_run.chrome_flags %}
        - "{{ flag }}"
{% endfor %}
{% if lhci_run.skip_audits is defined and lhci_run.skip_audits %}
      skipAudits:
{% for audit in lhci_run.skip_audits %}
        - "{{ audit }}"
{% endfor %}{% endif %}
{% if lhci_run.only_audits is defined and lhci_run.only_audits %}
      onlyAudits:
{% for audit in lhci_run.only_audits %}
        - "{{ audit }}"
{% endfor %}{% endif %}
    numberOfRuns: {{ lhci_run.test_runs }}
    headful: true
  upload:
    outputDir: "{{ lhci_run.output_directory }}"
    target: "{{ lhci_run.upload_target_type }}"
