# Probably not worth adding more granularity (weeks, months) for backups, should be at least daily?
- set_fact:
    _cron_mysql_backup_random_minute: "{{ 59 | random }}"
- set_fact:
    _cron_mysql_backup_minute: "{{ database.original.backup.minute | default(_cron_mysql_backup_random_minute)}}"
- set_fact:
    _cron_mysql_backup_hour: "{{ database.original.backup.hour | default(0)}}"
- set_fact:
    _cron_mysql_backup_keep: "{{ database.original.backup.keep | default(10)}}"

- name: Ensure backup directory exists.
  file:
    path: "{{ cron_mysql_backup.dumps_directory }}/{{ database.host }}"
    state: directory
    mode: 0700
    recurse: true

- name: Ensure cron directory exists.
  file:
    path: "/home/{{ deploy_user }}/cron/{{ project_name }}_{{ build_type }}"
    state: directory
    mode: 0700
    recurse: true

- name: Create backup script.
  template:
    src: "regular-backups.sh.j2"
    dest: "/home/{{ deploy_user }}/{{ database.host }}-{{ database.original.database }}-regular-backups.sh"
    mode: 0700

- name: Setup regular backup for MySQL.
  cron:
    name: "cron_mysql_{{ database.host }}_{{ database.original.database }}"
    minute: "{{ _cron_mysql_backup_minute }}"
    hour: "{{ _cron_mysql_backup_hour }}"
    job: "/bin/sh /home/{{ deploy_user }}/{{ database.host }}-{{ database.original.database }}-regular-backups.sh"
