---
- name: Perform composer step.
  composer:
    command: "{{ composer.command }}"
    no_dev: "{{ composer.no_dev }}"
    working_dir: "{{ composer.working_dir }}"
    apcu_autoloader: "{{ composer.apcu_autoloader }}"
  when:
    - deploy_operation == 'deploy'
    - composer.command | length > 1

- name: Generate additional templates.
  template:
    src: "{{ template.src }}"
    dest: "{{ deploy_path }}/{{ template.dest }}"
  with_items: "{{ composer.templates }}"
  loop_control:
    loop_var: template
  when:
    - composer.templates | length
    - deploy_operation == 'deploy'

- name: Create additional symlinks.
  file:
    src: "{{ link.src }}"
    dest: "{{ deploy_path }}/{{ link.dest }}"
    state: link
    force: "{{ link.force | default(false) }}"
  with_items: "{{ composer.symlinks }}"
  loop_control:
    loop_var: link
  when:
    - composer.symlinks | length
    - deploy_operation == 'deploy'
