---
- name: Fix file permissions for settings.php.
  file:
    state: file
    path: "{{ deploy_path }}/{{ webroot }}/sites/{{ site.folder }}/settings.php"
    owner: "{{ www_user }}"
    group: "{{ www_user }}"
  become: true
  with_items: "{{ drupal.sites }}"
  loop_control:
    loop_var: site
  when:
    - www_user != deploy_user
    - previous_build_number == 0

- name: Install Drupal.
  command:
    cmd: "{{ drush_bin }} {{ site.install_command }} -l {{ site.folder }}"
    chdir: "{{ deploy_path }}/{{ webroot }}/sites/{{ site.folder }}"
  become: "{{ 'no' if www_user == deploy_user else 'yes' }}"
  become_user: "{{ www_user }}"
  with_items: "{{ drupal.sites }}"
  loop_control:
    loop_var: site
  when: previous_build_number == 0 or (site.force_install is defined and site.force_install)

- name: Fix permissions on Drupal directory.
  shell:
    cmd: "chmod 755 {{ deploy_path }}/{{ webroot }}/sites/{{ site.folder }}"
  with_items: "{{ drupal.sites }}"
  loop_control:
    loop_var: site
  when: previous_build_number == 0 or (site.force_install is defined and site.force_install)

- name: Apply Drupal database updates.
  command:
    cmd: "{{ drush_bin }} -y updb -l {{ site.folder }}"
    chdir: "{{ deploy_path }}/{{ webroot }}/sites/{{ site.folder }}"
  become: "{{ 'no' if www_user == deploy_user else 'yes' }}"
  become_user: "{{ www_user }}"
  with_items: "{{ drupal.sites }}"
  loop_control:
    loop_var: site

- name: Import configuration.
  command:
    cmd: "{{ drush_bin }} -y {{ site.config_import_command }} -l {{ site.folder }}"
    chdir: "{{ deploy_path }}/{{ webroot }}/sites/{{ site.folder }}"
  become: "{{ 'no' if www_user == deploy_user else 'yes' }}"
  become_user: "{{ www_user }}"
  with_items: "{{ drupal.sites }}"
  loop_control:
    loop_var: site
  when:
    - previous_build_number > 0
    - site.config_import_command
