#!/bin/sh

DBUSER='{{ database.user }}'
DBPASSWORD='{{ database.password }}'
DBHOST='{{ database.host }}'
DB_NAME='{{ database.original.database }}'
CURRENT_DBNAME='{{ database.name }}'
TARGET_DIR="{{ cron_mysql_backup.dumps_directory }}/$DBHOST"
TARBALL="$DB_NAME-$(date -Iseconds).sql.bz2"
KEEP=$(({{ database.original.backup.keep | default(cron_mysql_backup.keep) }}+1))

backup(){
  {{ cron_mysql_backup.mysqldump_command }} \
	    -u"$DBUSER" -p"$DBPASSWORD" -h"$DBHOST" "$CURRENT_DBNAME" | bzip2 > "$TARGET_DIR/$TARBALL"
  ln -sfn "$TARGET_DIR/$TARBALL" "$TARGET_DIR/$DB_NAME"
}

cleanup(){
  if [ "$(find "$TARGET_DIR" -name '*sql.bz2'  | wc -l)" -lt "$KEEP" ]; then
    return 0
  fi
  rm "$(find $TARGET_DIR -name '*.sql.bz2' | sort | head -n 1)"
  cleanup
}

backup
cleanup
